.row{
    display:block;
    white-space:nowrap;
}

.row:first-child .square{
    border-top:1px solid #106d29;
}

.square{
    width:48px;
    height:48px;
    text-align: center;
    /*line-height: 40px;*/
    font-size: 30px;
    border-right:1px solid #106d29;
    border-bottom: 1px solid #106d29;
    /*float:left;*/
    display:inline-block;
    cursor: pointer; 
    background-color: #159637;
    line-height:48px;
}
.square:nth-child(even){
    background-color: #2cba51;
}

.row:nth-child(even) .square{
    background-color: #2cba51;
}
.row:nth-child(even) .square:nth-child(even){
    background-color: #159637;
}

.square:first-child{
    border-left:1px solid #106d29;
}

.square.mine{
    background-color: red !important;
}

.square.selected{
    background-color:#a86b32 !important;
}

.icon{
    color:black;
    font-size: 1em !important;
    line-height: 48px !important;
}